<nav
  class="
    navbar navbar-light navbar-expand-md
    bg-faded
    justify-content-center
    bg-info
  "
>
  <a routerLink="" class="navbar-brand d-flex w-50 mr-auto"
    ><mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      style="color: white"
      >home</mat-icon
    ></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsingNavbar3"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="" style="font-size: 16px; color: white"
          >Register-Yourself
        </a>
      </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="./users"
          style="font-size: 16px; color: white"
          >View Users
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li *ngIf="cacheService.getCache()" class="nav-item">
        <a
          class="nav-link"
          routerLink=""
          (click)="cacheService.removeCache('userName')"
          style="font-size: 16px; color: white"
          >Log Out
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
